<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="LttqWorkRp.Properties.Settings.Food_Ind_ManagementConnectionString"
            connectionString="Data Source=MSI\GB;Initial Catalog=Food_Ind_Management;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>